@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Qahiri&display=swap");
a {
  text-decoration: none;
  color: black !important;
  font-weight: 700;
  font-size: 18px;
  transition: 1s;
}
a:hover {
  color: white !important;
}
.mainNav {
  background-color: #4054cfd1;
}
.brandLogo {
  color: #cee1e7 !important;
  font-family: "Qahiri", sans-serif;
  letter-spacing: 1.5px;
}
